<section class="card">
  <a href="/events/{{id}}">
    <h3>{{title}}</h3>
    <p>Location: {{location}}</p>
    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
  </a>
  <button class="sub-button" data-id="{{id}}" type="click">Subscribe</button>
</section>