<div class="card">
  <div class="card-content">
    <span class="card-title">{{event.title}}</span>
    <p>Location: {{event.location}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>
  </div>
  <div class="card-action">
    <a href="/events/{{event.id}}">View Details</a>
    <button class="btn waves-effect waves-light unsub-button" data-id="{{id}}" type="button">Unsubscribe</button>
  </div>
</div>
