<section class="card">
  <a href="/events/{{event.id}}">
    <h3>{{event.title}}</h3>
    <p>Location: {{event.location}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>
  </a>
  <button class="unsub-button" data-id="{{id}}" type="click">Unsubscribe</button>
</section>