<main>
    <h3>{{event.title}}</h3>
    <p>Description: {{event.description}}</p>
    <p>Location: {{event.location}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>

    <button class="delete-button" data-id="{{event.id}}">DELETE</button>
</main>

<script src="/js/eventSingle.js"></script>