<div class="card">
  <div class="card-content">
    <span class="card-title">{{event.title}}</span>
    <p>Description: {{event.description}}</p>
    <p>Location: {{event.location}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>
  </div>
  <div class="card-action">
    <button class="btn waves-effect waves-light delete-button" data-id="{{event.id}}" type="button">DELETE</button>
  </div>
</div>

<script src="/js/eventSingle.js"></script>